// Styles for the homepage (first / top slide on the site)
.logo-container img{
  	overflow: auto;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 0;
	bottom: 0;
	right: 0;
	max-width: 75%;
	margin-top: -52px;
}



