
/*mentor slider ui*/
    
    .peVolo .peVoloPrev,
    .peVolo .peVoloNext,
    .peVolo .peVoloBullets{
        position:absolute;
        z-index: 100;
    }
    
    .peVolo .peVoloPrev a,
    .peVolo .peVoloNext a{
        display:block;
        width: 30px;
        height:100%;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.2);
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        position:relative;
        -webkit-transition: background-color 0.3s ease-out; 
		   -moz-transition: background-color 0.3s ease-out; 
			 -o-transition: background-color 0.3s ease-out; 
				transition: background-color 0.3s ease-out; 
    }
    
    .peVolo .peVoloPrev a i,
    .peVolo .peVoloNext a i{
        font-size:18px;
        line-height:20px;
        position:absolute;
        top:50%;
        color:#ccc;
        height:20px;
        margin-left:-1px;
        margin-top:-8px;
        text-align:center;
    }
    
    .peVolo .peVoloNext a i{
        margin-left:1px;
    }
    
    .peVolo .peVoloPrev a:hover,
    .peVolo .peVoloNext a:hover{
        background-color: rgb(0,0,0);
        background-color:rgba(0,0,0,0.4);
        
    }
    
    .peVolo .peVoloPrev a:hover i,
    .peVolo .peVoloNext a:hover i{
        color:#fff;
    }
    
    /*.peVolo .peVoloBullets a{
        display:block;
        width: 22px;
        height: 22px;
        opacity:0.65;
        float:left;
        margin-left:1px;
    }
    
    .peVolo .peVoloBullets a:hover,
    .peVolo .peVoloBullets a.selected{
        opacity:1;
    }
    
    .peVolo .peVoloBullets a{
       background:url(../img/skin/slide_btn.png) no-repeat 0 0; 
    }
    
    .peVolo .peVoloBullets a.selected{
       background-image:url(../img/skin/slide_btn_active.png);
    }*/
    
    
    /*tablets*/
    /*----------------------------------------------------------------------*/
    @media (min-width: 768px) and (max-width: 979px) {
        
        
        /*uncomment to hide the slide buttons on tablets*/
        
        /*
         
        .peVoloBullets{
            display:none !important;
        }
        
        */        
        
    }
    
    
    /*mobile*/
    /*----------------------------------------------------------------------*/
    @media (max-width: 480px) {
        
        /*hide the slide buttons on mobile*/
        .peVoloBullets{
            display:none !important;
        }
        
        /*.peVolo .peVoloPrev a,
        .peVolo .peVoloNext a{
            opacity:1 !important;
        }*/
    }
    
    