
$white : 			#ecf0f1;

$bg-gray : 			#EEE;

$dark-gray :        #313437;

$bright-blue : 		#00aed7;  // flat turquoise blue // main fulsonic color highlight

$dull-blue : 		rgba(41, 128, 185,1.0); 

$light-slate : 		rgba(52, 73, 94,1.0);

$slate : 			rgba(44, 62, 80,1.0);

